<div class="container">
    <div class="row">
        <h1>My Interview Portal</h1>
        <hr />
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">{{ name }}</div>
                <div class="card-body">
                    <form>
                        <label style="margin-bottom: 10px; font-weight: bold;">{{ item.questionText }}</label>


                        <div *ngIf="type === 'Multiple-Response' ; else other">
                            <div class="form-group form-check"
                                *ngFor="let option of options ; let indexOfOption = index">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                    (click)="onSelect(indexOfOption)" />
                                <label class="form-check-label" for="exampleCheck1">{{
                                    option
                                    }}</label>
                            </div>
                        </div>

                        <ng-template #other>
                            <div class="radio" *ngFor="let option of options; let indexOfOption = index"
                                (click)="onSelect(indexOfOption)">
                                <label>
                                    <input type="radio" name="option" value="option1" />
                                    {{ option }}
                                </label>
                            </div>
                        </ng-template>
                    </form>
                </div>
                <div class="card-footer">
                    <button *ngIf="availableQues.length >= 2" class="btn btn-success mx-2"
                        (click)="nextQuestion()">Next</button>
                    <button routerLink="/finish/{{id}}" routerLinkActive="router-link-active"
                        class="float-right btn btn-danger">Finish</button>
                </div>
            </div>
        </div>
    </div>
</div>